.fcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.frs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fr-start {
    display: flex;
    flex-direction: row;
    justify-content: start;
}